<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">关于</div>
            <p class="paragraph-text justify-text">
                继承自<a href=https://wjx.seu.edu.cn/2023/1124/c21077a473145/page.htm>校级重大</a>（编号：202461019）的<a href=https://wjx.seu.edu.cn/2024/0523/c21077a491356/page.htm>优秀</a>结题项目，该项目是<a href=https://wjx.seu.edu.cn/2024/0425/c21077a488923/page.htm>国家级项目</a>（编号：202410286160Z），由肖诗宇、张涵宾、杨颖怡、徐思琪、单舟共同推动。
            </p>
            <p class="paragraph-text justify-text">
                该项目的开展思路是拍照和静态场景建模、感知和动态物体重构、用搭建好的数字孪生平台辅助通信。
            </p>
            <p class="paragraph-text justify-text">
                该项目的成果有<a href="1571047380.pdf" target="_blank">论文</a>、软件（含软件说明书）。
            </p>
        </div>
    </section>
</div>
