<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">人员</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">肖诗宇</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">张涵宾</a>
                    <a id="webdev" class="semi-transparent-button with-border white-button" onclick="selected('webdev')">杨颖怡</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('native')">徐思琪</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">单舟</a>
            

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
